<div id="noView" ng-hide="resultFound">
	<div class="introText">No movie to view. Search for a movie first.</div>
</div>
<div ng-init="getMovie()" id="movieDisplay" ng-show="resultFound">

	<div class="container">
		<div class="row">
			<div class="col-lg-4 orange"><h1>{{result.Title}}</h1></div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<img src={{poster}}>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-3">
				<br>
				<span class="biggerText">{{result.Year}} </span><br>
				<span>{{result.Country}}</span><br>
				<span>{{result.Genre}}</span><br>
				<span>{{result.Runtime}}</span> <br>
				<span>{{result.Language}}</span><br>
				<span>Rated {{result.Rated}}</span><br><br>
				<span class="biggerText">IMDB Rating: {{result.imdbRating}}</span>
				
			</div>
			<div class="col-log-1"></div>
			<div class="col-lg-3">
				<span class="orange"><h2>Plot</h2></span>
				{{result.Plot}}
			</div>
		
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-3">
				<h2 class="orange align">Cast</h2>
				<ul class="unstyled">
					<li ng-repeat="actor in actors">{{actor}}</li>
				</ul>
			</div>
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<h2 class="orange">Crew</h2>
				<table>
					<tr ng-repeat="director in directors"><td>Director:&nbsp</td><td>{{director}}</td></tr>
					<tr ng-repeat="writer in writers"><td>Writer:&nbsp</td><td>{{writer}}</td></tr>
				
				</table>
			</div>
			
		
		</div>
		<div class="buttonWrapper">
				<button id="reviseList" ng-click="reviseList(result)">{{onList && 'Remove from your list' || 'Add to your list!'}}</button>
		</div>


</div>
</div>