

.navbar .navbar-default {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar  {
  text-align: center;
}

.centerText{
	text-align: center;
}

.resultsTable, #addToList{
	margin-left: auto;
	margin-right: auto;
}


.biggerText{
	font-size: 1.5em;
}

ul, li{
	list-style-type: none;
}

.align{
	padding-left: 1.3em;
}

#movieDisplay, #movieDisplay tr{
	background-color: #52527A;
	color: white;
}

#movieDisplay{
	padding-bottom: 10em;
}

.orange{
	color: #ffa64d;
}

#addToList{
	background-color: #ffa64d;
	color: black;
	font-weight: bold;
	font-size: 1.5em;
	border: 1px solid black;
	border-radius: 5px;
}

#footer{
	margin-top: 5em;
	height: 5em;
}

#listPage{
	background-color: #e6e6e6;
	height: 80%;
}

.resultsTable td, .resultsTable th{
	padding-right: 3em;
}


