

.navbar .navbar-default {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar  {
  text-align: center;
}

.centerText{
	text-align: center;
}

.resultsTable{
	margin-left: auto;
	margin-right: auto;
}


.biggerText{
	font-size: 1.5em;
}

ul, li{
	list-style-type: none;
}

.align{
	padding-left: 1.3em;
}

#movieDisplay, #movieDisplay tr{
	background-color: #52527A;
	color: white;
}

#movieDisplay{
	padding-bottom: 5em;
}

.orange{
	color: #ffa64d;
}

#reviseList{
	background-color: #ffa64d;
	color: black;
	font-weight: bold;
	font-size: 1.5em;
	border: 1px solid black;
	border-radius: 5px;
}

.buttonWrapper{
	text-align: center;
	margin-top: 2em;
}

#footer{
	margin-top: 3em;
	height: 3em;
}

#listPage{
	background-color: #e5ffb3;
	height: 100%;
}

.resultsTable td, .resultsTable th{
	padding-right: 3em;
}

.resultsTable tbody:before{
	content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

#mainPage{
	background-color: #e5ffb3;
	height: 100%;
	text-align: center;
}

#searchPage{
	background-color: #e5ffb3;
	height: 100%;
}

#introText{
	font-size: 6em;
	font-family: Candara;
}
